.container {
    width: var(--loginWidth);
    height: var(--loginHeight);
    margin: var(--spacingLarge) auto;
    background-color: var(--backgroundFormColor);
    box-shadow: 0 var(--spacingBase) var(--spacingBase) rgba(0, 0, 0, 0.1);
    padding: var(--spacingExtraMedium);
    border-radius: var(--borderRadiusBase);
}

.container_link {
    margin-top: var(--spacingExtraMedium);
    display: flex;
    justify-content: space-around;
}

.link {
    color: var(--textColor);
    font-size: var(--fontSizeSmall);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.link.color {
    color: var(--textHoverColor);
    font-size: var(--fontSizeBase);
    transition: transform 0.3s ease-in-out;
}

.link.color:hover {
    color: var(--textHoverColor);
    transform: scale(1.2);
    text-decoration: none;
}
