.button {
    margin-top: var(--spacingMedium);
    padding: var(--spacingBase) var(--spacingExtraLarge);
    background-color: var(--backgroundMenuColor);
    border: none;
    border-radius: var(--borderRadius);
    color: var(--textButtonColor);
    font-size: var(--fontSizeBase);
    cursor: pointer;
}

.button:hover {
    background-color: var(--backgroundButtonColorHover);
    color: var(--textColor);
}

.menu_button {
    margin-top: 0;
    padding: var(--spacingBase) var(--spacingExtraMedium);
}

.text_button_color {
    background-color: var(--backgroundFormColor);
    color: var(--textHoverColor);
    font-size: var(--fontSizeBase);
    transition: transform 0.3s ease-in-out;
}

.text_button_color:hover {
    background-color: var(--backgroundFormColor);
    color: var(--textHoverColor);
    transform: scale(1.2);
}

.text_button {
    background-color: var(--backgroundFormColor);
    color: var(--textColor);
    font-size: var(--fontSizeSmall);
}

.text_button:hover {
    background-color: var(--backgroundFormColor);
    text-decoration: underline;
}
