.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: var(--inputWidth);
    height: var(--spacingExtraMedium);
    margin-top: var(--spacingExtraMedium);
    border: none;
    background-color: var(--backgroundFormColor);
    border-bottom: 1px solid var(--textPlaceholderColor);
    padding-left: var(--spacingSmall);
}

.input::placeholder {
    color: var(--textPlaceholderColor);
    font-size: var(--fontSizeSmall);
    font-style: italic;
}

.input:focus {
    outline: none;
    border: 1px solid var(--textColor);
}

.checkbox_container {
    width: var(--inputWidth);
    margin-top: var(--spacingSmall);
    font-size: var(--fontSizeSmall);
    display: flex;
    gap: var(--spacingSmall);
}

.error {
    font-size: var(--fontSizeSmall);
    width: var(--inputWidth);
    color: var(--invalidColor);
    margin: 0;
}
