.container {
    max-width: var(--containerWidth);
    height: var(--itemHeight);
    padding: 0 var(--spacingSmall);
    background-color: var(--backgroundItemColor);
    border-radius: var(--borderRadiusBase);
    border: 1px solid var(--borderItemColor);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacingSmall);
}
