.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundModalColor);
}

.content {
    width: var(--loginWidth);
    height: var(--signupHeight);
    background-color: var(--backgroundFormColor);
    box-shadow: 0 var(--spacingBase) var(--spacingBase) rgba(0, 0, 0, 0.1);
    padding: var(--spacingExtraMedium);
}

.title {
    margin-top: var(--spacingLarge);
    margin-bottom: var(--spacingLarge);
    text-align: center;
    color: var(--textColor);
    font-size: var(--fontSizeMedium);
    font-weight: var(--fontWeightRegular);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacingExtraMedium);
}

.input {
    width: var(--inputWidth);
    height: var(--spacingExtraMedium);
    border: none;
    background-color: var(--backgroundFormColor);
    border-bottom: 1px solid var(--textPlaceholderColor);
    padding-left: var(--spacingSmall);
}

.input::placeholder {
    color: var(--textPlaceholderColor);
    font-size: var(--fontSizeSmall);
    font-style: italic;
}

.input:focus {
    outline: none;
    border: 1px solid var(--textColor);
}

.checkbox_container {
    width: var(--inputWidth);
    margin-top: var(--spacingSmall);
    font-size: var(--fontSizeSmall);
    display: flex;
    gap: var(--spacingSmall);
}

.container_button {
    display: flex;
    justify-content: center;
}
