@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', 'Inter', 'Segoe UI', 'Oxygen', sans-serif;
    box-sizing: border-box;
    background: var(--backgroundColor);
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

:root {
    /* ### Color */
    --textColor: #27383a;
    --textHoverColor: #6d9ea3;
    --textPlaceholderColor: #798989;
    --invalidColor: rgb(228, 101, 101);

    /* --backgroundColor: #c4d3d3; */
    --backgroundColor: #dfeeee;
    /* --backgroundMenuColor: #6d9ea3; */
    --backgroundMenuColor: #6d9ea3;
    --backgroundContainerColor: #d3d2cd;
    --backgroundFormColor: #f3f2f5;
    --backgroundModalColor: rgba(92, 93, 94, 0.4);

    /* --backgroundButtonColorHover: #6d9ea3; */
    --backgroundButtonColorHover: #a2c1c3;

    --backgroundActiveColor: #a2c1c3;

    --iconColor: #27383a;

    /* ### Spacing */
    --spacingBase: 8px;
    --spacingExtraSmall: 4px;
    --spacingSmall: 12px;
    --spacingMedium: 16px;
    --spacingExtraMedium: 24px;
    --spacingLarge: 36px;
    --spacingExtraLarge: 60px;

    /* ### Font-size */
    --fontSizeBase: 16px;
    --fontSizeSmall: 12px;
    --fontSizeMedium: 20px;
    --fontSizeLarge: 24px;
    --fontSizeExtraLarge: 36px;

    /* ### Font-weight */
    --fontWeightLight: 300;
    --fontWeightRegular: 400;
    --fontWeightMedium: 500;

    /* ### Border-radius */
    --borderRadius: 16px;

    /* ### Width */
    --containerWidth: 1200px;
    --menuWidth: 1200px;
    --buttonWidth: 100px;
    --loginWidth: 400px;
    --inputWidth: 300px;

    /* ### Height */
    --menuHeight: 60px;
    --logoHeight: 48px;
    --buttonHeight: 32px;
    --loginHeight: 400px;

    /* ### Margin */

    --iconCloseMargin: 375px;
}
