@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', 'Inter', 'Segoe UI', 'Oxygen', sans-serif;
    box-sizing: border-box;
    background: var(--backgroundColor);
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

:root {
    /* ### Color */
    --textColor: #1e2b2c;
    --textMenuColor: #f3f2f5;
    --textButtonColor: #f3f2f5;
    --textHoverColor: #53787c;
    --textPlaceholderColor: #798989;

    --invalidColor: rgb(228, 101, 101);
    --iconColor: #6f7b7d;
    --borderItemColor: #dfdeee;
    --backgroundColor: #dfeeee;
    --backgroundMenuColor: #53787c;
    --backgroundItemColor: #f3f2f5;
    --backgroundItemHoverColor: #e1e0e2;
    --backgroundFormColor: #f3f2f5;
    --backgroundInputColor: #fff;
    --backgroundModalColor: rgba(92, 93, 94, 0.4);
    --backgroundButtonColorHover: #a2c1c3;
    --backgroundActiveColor: #a2c1c3;

    /* ### Spacing */
    --spacingBase: 8px;
    --spacingExtraSmall: 4px;
    --spacingSmall: 12px;
    --spacingMedium: 16px;
    --spacingExtraMedium: 24px;
    --spacingLarge: 36px;
    --spacingExtraLarge: 60px;

    /* ### Font-size */
    --fontSizeBase: 16px;
    --fontSizeSmall: 12px;
    --fontSizeMedium: 20px;
    --fontSizeLarge: 24px;
    --fontSizeExtraLarge: 36px;

    /* ### Font-weight */
    --fontWeightLight: 300;
    --fontWeightRegular: 400;
    --fontWeightMedium: 500;

    /* ### Border-radius */
    --borderRadius: 16px;
    --borderRadiusBase: 8px;
    --borderRadiusSmall: 4px;

    /* ### Width */
    --containerWidth: 1200px;
    --menuWidth: 1200px;
    --buttonWidth: 100px;
    --loginWidth: 400px;
    --inputWidth: 300px;
    --nameContainerWidth: 200px;
    --textContainerMinWidth: 790px;
    --textContainerMaxWidth: 890px;

    /* ### Height */
    --menuHeight: 60px;
    --logoHeight: 48px;
    --buttonHeight: 32px;
    --loginHeight: 348px;
    --signupHeight: 560px;
    --resetPasswordHeight: 300px;
    --itemHeight: 48px;

    /* ### Margin */
    --iconCloseMargin: 375px;
    --buttonMargin: 110px;
}
